

    <h1>貸し借り一覧</h1>
  
    <% @transactions.records.each do |transaction| %>
    
    <% @transaction = Transaction.find(transaction.id)%>
    <%  @records = @transaction.records.order(:updated_at) %>

    <% @records.each do |record| %>

<div class="content">
      <div>
      相手：<%= @transaction.target_user(current_user).name %>
      </div>
      <div>
      物の名前：<%= record.item_name %>
      </div>
      <div>
      期日：<%= record.time_limit.strftime("%Y-%m-%d") %>
      </div>
      <div>
      契約日：<%= record.start_time.strftime("%Y-%m-%d")  %>
      </div>
      <div>
      概要：<%= record.description %>
      </div>
      <div>
      State:<%= record.current_situation %>
      </div>


 
  <%= link_to '詳細',  transaction_record_path(record.transaction_id, record) %>

     <br>
     <br>



    <% end %>

     <br>

    <% end %>