借りているものだけを表示
    <% @records.each do |record| %>
    <tr>
      <td>
    <% if record.item_name.present? %>
      <div>
        <%= record.user.name %>
        <%= record.set_time %>
      </div>

<div class="content">
      <div>
        <%= record.item_name %>
      </div>
      <div>
        <%= record.time_limit %>
      </div>
      <div>
        <%= record.start_time %>
      </div>
      <div>
        <%= record.description %>
      </div>
  <%= link_to '詳細',  transaction_record_path(record.transaction_id, record) %>

  
      </td>
    </tr>
    <% end %>
    <% end %>
