<!DOCTYPE html>
<html>
  <head>
    <title>Square2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "プロフィール", mypage_path %>
      <%= link_to "ログアウト",destroy_user_session_path, method: :delete   %>
      <%= link_to "貸し借りしたユーザー", transactions_path %>
      <%= link_to "貸し借りするユーザーを探す", users_path %>
      <%= link_to "現在借りているもの", borrows_index_transactions_path %>
      <%= link_to "現在貸しているもの", rents_index_transactions_path %>
      <%= link_to "貸し借り一覧", all_index_transactions_path %>



      <% else %>
      <%= link_to "ログイン",user_session_path %>
      <%= link_to "アカウント登録",new_user_registration_path %>
      <% end %>

    
    <%= yield %>
  </body>
</html>
